{% extends 'carousel.html' %}
{% block b %}
<style>
.mybtnone:hover{background-color : #800000;
color : #429E00 ; font-weight : bold
}


.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2.5); 
}

</style>
<div class="container-fluid">
      <center><h2 style = "font-family : 'Monotype Corsiva' ; color : #E6120E ; font-weight : bold;margin-top:2%"> All Profiles</h2></center>
<hr>
 <div class="container-fluid" style="margin-bottom:3%">
	 <div class="row">
			{% for j in pro %}
         {% if error %}
		 {% ifnotequal sign.gen j.signup.gen %}
				<div class="col-md-3" style="border-radius:6px;width:25%;margin-top:1%">
					<center><img class="zoom" align="center" src="{{j.signup.image.url}}" style="width:160px;height:170px;float:center" alt="card-img">
   						<h4 class="card-title">{{j.signup.user.first_name}} {{j.signup.user.last_name}}</h4>
   						<p class="card-text">Age : {{j.age}}</p>
						<a href="{% url 'view_profile' j.id %}"><button type="submit" class="btn btn-primary mybtnone" style="float:center">View Profile</button></a></center>
   				</div>
		 {% endifnotequal %}
         {% else %}
         <div class="col-md-3" style="border-radius:6px;width:25%;margin-top:1%">
					<center><img align="center" src="{{j.signup.image.url}}" style="width:160px;height:170px;float:center" alt="card-img">
   						<h4 class="card-title">{{j.signup.user.first_name}} {{j.signup.user.last_name}}</h4>
   						<p class="card-text">Age : {{j.age}}</p>
						<a href="{% url 'view_profile' j.id %}"><button type="submit" class="btn btn-primary mybtnone" style="float:center">View Profile</button></a></center>
   				</div>
         {% endif %}
			{% endfor %}
			
			
			<style>
html{
scroll-behavior:smooth;
}


/*scroll button start*/
#scrollbtn
{

position:fixed;
bottom:20px;
right:40px;
z-index:99;
border:none;
color:rgb(122, 42, 42);
background:#00abff;
padding:10px;
border-radius:10px;
}
/*scroll button end*/
</style>

 <div class="scrolltop float-right">
  <i class="fa fa-arrow-up" onclick="topFunction()" id="scrollbtn"></i>
  </div>

<script>
  scrollbutton = document.getElementById("scrollbtn"); 
  window.onscroll = function(){scrollFunction()};
  
  function scrollFunction()
  {
  if(document.body.scrollTop>20 || document.documentElement.scrollTop>20)
  {
  scrollbutton.style.display="block";
  }
  else
  {
  scrollbutton.style.display="none";
  }
  }
  
  function topFunction()
  {
  document.body.scrollTop = 0;//safari
  document.documentElement.scrollTop = 0;//for chrome
  }

</script>  
			
		</div>
	</div>
 </div>

      </div>
	  
	  
	  
	  
	  
{% endblock %}


